html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html { 
	font-size:100.01%; 
}
body {
	font-size: 81.25%;
	color: #222;
	background: #fff;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 1.5;
}

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { 
	font-weight: normal; 
	color: #111; 
}
h1 { 
	font-size: 3em; 
	line-height: 1; 
	margin-bottom: 0.5em; 
}
h2 { 
	font-size: 2em; 
	margin-bottom: 0.75em; 
}
h3 { 
	font-size: 1.5em; 
	line-height: 1; 
	margin-bottom: 1em; 
}
h4 { 
	font-size: 1.2em; 
	line-height: 1.25; 
	margin-bottom: 1.25em; 
}
h5 { 
	font-size: 1em; 
	font-weight: bold; 
	margin-bottom: 1.5em; 
}
h6 { 
	font-size: 1em; 
	font-weight: bold; 
}
h1 img, h2 img, 
h3 img, h4 img, 
h5 img, h6 img {
	margin: 0;
}


/* Text elements
-------------------------------------------------------------- */
p { 
	margin: 0 0 1.5em; 
}
.left { 
	float: left !important; 
}
p .left	{ 
	margin: 1.5em 1.5em 1.5em 0; 
	padding: 0; 
}
.right { 
	float: right !important; 
}
p .right { 
	margin: 1.5em 0 1.5em 1.5em; 
	padding: 0; 
}
a:focus, a:hover { 
	color: #09f; 
}
a { 
	color: #06c; 
	text-decoration: underline; 
}
blockquote, q {
	quotes: none;
}
blockquote { 
	margin: 1.5em; 
	color: #666; 
	font-style: italic; 
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
strong { 
	font-weight: bold; 
}
em { 
	font-style: italic; 
}
sup, sub { 
	line-height: 0; 
}
abbr[title], dfn[title] { 
	border-bottom: 1px dotted #666; 
    cursor: help;
}
address { 
	margin: 0 0 1.5em; 
	font-style: italic; 
}
mark, 
.highlight { 
	background: #ff9; 
}
del { 
	color: #666; 
}
pre { 
	margin: 1.5em 0; 
	white-space: pre; 
}
pre, code, tt { 
	font: 1em 'andale mono', 'lucida console', monospace; 
	line-height: 1.5; 
}


/* Lists
-------------------------------------------------------------- */
li ul, li ol { 
	margin: 0; 
}
ul, ol { 
	list-style: none; 
	margin: 0 1.5em 1.5em 0; 
	padding-left: 1.5em; 
}
ul { 
	list-style-type: disc; 
}
ol { 
	list-style-type: decimal; 
}
dl { 
	margin: 0 0 1.5em 0; 
}
dl dt { 
	font-weight: bold; 
}
dd { 
	margin-left: 1.5em;
}


/* Tables
-------------------------------------------------------------- */
table { 
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1.4em; 
	width: 100%; 
}
th { 
	font-weight: bold; 
}
thead th { 
	background: #c3d9ff; 
	vertical-align: bottom;
}
th, td, caption { 
	padding: 4px 10px 4px 5px; 
	text-align: left;
}
tbody tr:nth-child(even) td, 
tbody tr.even td  { 
	background: #e5ecf9; 
}
tfoot { 
	font-style: italic; 
}
caption { 
	background: #eee; 
}
th.center { text-align: center; }


/* Form fields
-------------------------------------------------------------- */
label { 
	font-weight: bold; 
}
fieldset { 
	padding: 0 1.4em 1.4em 1.4em; 
	margin: 0 0 1.5em 0; 
	border: 1px solid #ccc; 
}
legend { 
	font-weight: bold; 
	font-size: 1.2em; 
	margin-top: .9em; 
	margin-bottom: 1em; 
}
.ie8 fieldset { 
	padding-top: 1.4em; 
} 
.ie8 legend { 
	margin-top: 0; 
	margin-bottom: 0; 
}

input[type=text], 
input[type=password],
input.text, 
textarea {
	background-color: #fff;
	border: 1px solid #bbb;
	padding: 5px;
}
input[type=text]:focus, 
input[type=password]:focus,
input.text:focus, 
textarea:focus {
	border-color: #666;
}
select { 
	background-color: #fff; 
	border-width: 1px; 
	border-style: solid; 
}
input[type=text], 
input[type=password],
input.text, 
textarea, 
select {
	margin: 0.5em 0;
}
input[type=text], 
input[type=password], 
input.text { 
	width: 28em; 
}
textarea { 
	width: 35em; 
	height: 250px; 
}
form.inline { 
	line-height: 3; 
}
form.inline p { 
	margin-bottom: 0; 
}


/* Error, notice, success, and info boxes
-------------------------------------------------------------- */
.error, .notice, .success, .info { 
	padding: 0.8em; 
	margin-bottom: 1em; 
	border: 2px solid #ddd; 
}
.error { 
	background: #fbe3e4; 
	color: #8a1f11; 
	border-color: #fbc2c4; 
}
.error a { 
	color: #8a1f11; 
}
.notice { 
	background: #fff6bf; 
	color: #514721; 
	border-color: #ffd324; 
}
.notice a { 
	color: #514721; 
}
.success { 
	background: #e6efc2; 
	color: #264409; 
	border-color: #c6d880; 
}
.success a { 
	color: #264409; 
}
.info { 
	background: #d5edf8; 
	color: #205791; 
	border-color: #92cae4; 
}
.info a	{ 
	color: #205791; 
}


/* Misc classes
-------------------------------------------------------------- */
.hide { 
	display: none; 
}
.invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
.added { 
	background: #060; 
	color: #fff; 
}
.removed { 
	background: #900; 
	color: #fff; 
}